body {
    font-family: helvetica;
    font-size: 100%;
}

ul {
    margin-top: 0px;
}

li {
    margin-top: 2px;
}

.spaced {
    display: flex;
    justify-content: space-between;
    line-height: 2em;
}

.spaced img {
    height: 20px;
    width: auto;
}

.section-header {
    font-weight: bold;
    font-size: 1.2em;
}

.subsection-content {
    margin-top: 5px;
    display: flex;
    font-size: 1em;
}

.job-description {
    margin-top: 10px;
    font-size: 1em;
}

#name {
    font-weight: bold;
    font-size: 1.5em;
}

#profession-objective {
    display: flex;
    line-height: 2.0em;
}

#objective {
    margin-left: 20px;
    text-align: bottom;
    font-style: italic;
}

#description-header {
    margin-top: 5px;
    font-weight: bold;
}
