body {
    font-family: helvetica;
    font-size: 18px;
}

.spaced {
    display: flex;
    justify-content: space-between;
    line-height: 2em;
}

.spaced img {
    height: 20px;
    width: auto;
}

#name {
    font-weight: bold;
    font-size: 1.5em;
}

#profession-objective {
    display: flex;
    line-height: 2.0em;
    font-style: italic;
}

#profession {
    font-weight: bold;
    font-size: 1.2em;
    text-align: bottom;
}

#objective {
    margin-left: 20px;
    text-align: bottom;
}

#description-header {
    margin-top: 5px;
    font-weight: bold;
}

#description-content {
    margin-top: 2px;
    display: flex;
}
